[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=urxvt-Resolution
Comment=urxvt-Resolution
Exec=/home/wktech/.urxvt_default_res
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=false

