[Desktop Entry]
Encoding=UTF-8
Version=0.0.1
Type=Application
Name=Update Wallpaper
Comment=Update Wallpaper
Exec=/home/wktech/.update_wallpaper
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=false

