**/__pycache__/*
.bin/tmp
.bin/ConEmu/
.bin/python/
.bin/7-Zip/
.bin/NotepadPlusPlus/
.cbin/
*.exe
.bin/HWiNFO/HWiNFO*.ini
.bin/ProcessKiller/
.bin/SysinternalsSuite/
.bin/XMPlay/
.bin/AIDA64/
.bin/BleachBit/
.bin/erunt/
.bin/Everything/
.bin/ProduKey/
.bin/ClassicStartSkin/
.bin/curl/
