**/__pycache__/*
*.bak
*.exe
.bin/7-Zip/
.bin/AIDA64/
.bin/BleachBit/
.bin/ClassicStartSkin/
.bin/ConEmu/
.bin/Erunt/
.bin/Everything/
.bin/FastCopy/
.bin/HWiNFO/HWiNFO*.ini
.bin/NotepadPlusPlus/
.bin/ProcessKiller/
.bin/ProduKey/
.bin/Python/
.bin/Tmp/
.bin/XMPlay/
.bin/_Drivers/SDIO/
.cbin/*.7z
.cbin/AIDA64/
.cbin/Autoruns/
.cbin/BleachBit-Portable/
.cbin/BlueScreenView/
.cbin/Caffeine/
.cbin/Du/
.cbin/Everything/
.cbin/FirefoxExtensions/
.cbin/IObitUninstallerPortable/
.cbin/ProduKey/
.cbin/TestDisk/
.cbin/TreeSizeFree-Portable/
.cbin/XMPlay/
.cbin/XYplorerFree/
.cbin/_Drivers/
.cbin/_Office/
.cbin/_vcredists/
.cbin/wimlib/
BUILD*/
OUT*/
