[Desktop Entry]
Version=1.0
Type=Application
Name=Hardware Diagnostics
Comment=
Exec=urxvt -title "Hardware Diagnostics" -hold -e hw-diags
Icon=xcos
Path=
Terminal=false
StartupNotify=false
