[Desktop Entry]
Version=1.0
Type=Application
Name=Hardware Diagnostics
Comment=
Exec=xfce4-terminal -T "Hardware Diagnostics" -H -I xcos -x hw-diags
Icon=xcos
Path=
Terminal=false
StartupNotify=false
