[Desktop Entry]
Version=1.0
Type=Application
Name=Hardware Information
Comment=Hardware Information
Exec=hardinfo
Icon=hardinfo
Path=
Terminal=false
StartupNotify=false
