[Desktop Entry]
Version=1.0
Type=Application
Name=SpeedTest
Comment=
Exec=urxvt -titile SpeedTest -hold -e speedtest
Icon=network-workgroup
Path=/usr/local/bin
Terminal=false
StartupNotify=false
