[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/wktech/Desktop/SpeedTest.desktop]
row=2
col=0

[/home/wktech/Desktop/HW Diagnostics.desktop]
row=3
col=0

[/]
row=0
col=0

[/home/wktech]
row=1
col=0

