[Desktop Entry]
Version=1.0
Type=Application
Name=NetworkTest
Comment=Diagnose network connectivity
Exec=urxvt -title "Network Diagnostics" -hold -e hw-diags-network
Icon=network-workgroup
Path=/usr/local/bin
Terminal=false
StartupNotify=false
